[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/osuny-www-design-system"]
	path = themes/osuny-www-design-system
	url = git@github.com:osunyorg/osuny-www-design-system.git
