.page__home
    .hero
        padding-bottom: var(--grid-gutter)
        @include media-breakpoint-down(desktop)
            .container
                .content
                    text-align: center
                    margin-bottom: $spacing-5
        @include media-breakpoint-up(desktop)
            .container
                padding-bottom: space(50)
                .content
                    display: flex
                    flex-direction: column
                    align-items: center
                    text-align: center
                    .hero-text
                        width: 100%
                        .hero-actions
                            margin-top: $spacing-5


.custom-hero-persons
    --person-size: #{pxToRem(118)}
    margin-left: var(--grid-gutter-negative)
    margin-right: var(--grid-gutter-negative)
    margin-top: $spacing-5
    ul
        @include list-reset
        display: flex
        align-items: start
        justify-content: center
        gap: pxToRem(15)
        width: 100%
        overflow: hidden
    li
        height: var(--person-size)
        width: var(--person-size)
        position: relative
        flex-shrink: 0
        transition: opacity 0.7s ease-in-out
        &.fade-out
            opacity: 0
        &:nth-child(odd)
            margin-top: pxToRem(50)
        a
            @include sr-only
        img
            filter: grayscale(1)
    @include media-breakpoint-down(md)
        --person-size: #{pxToRem(75)}
        margin-top: $spacing-3
        ul
            li
                &:nth-child(odd)
                    margin-top: pxToRem(25)

