.page__home
    .hero
        padding-bottom: var(--grid-gutter)
        @include media-breakpoint-down(desktop)
            .container
                .content
                    text-align: center
                    margin-bottom: $spacing-5
        @include media-breakpoint-up(desktop)
            height: 80vh
            .container
                .content
                    align-items: center
                    text-align: center
                    .hero-text
                        margin-left: offset(1)
                        width: columns(10)