.organization
    .media
        figure
            img
                mix-blend-mode: initial
            &.organization-logo--default
                filter: invert(1) grayscale(1)
            &.organization-logo--on-dark-background
                filter: grayscale(1) 
